if TARGET_MXRT106X_EVK

config SYS_BOARD
	string
	default "mxrt106x-evk"

config SYS_VENDOR
	string
	default "freescale"

config SYS_SOC
	string
	default "imxrt105x"

config SYS_CONFIG_NAME
	string
	default "mxrt106x-evk"

endif
